.ChatInput {
  background-color: #f0f0f0;

  .chat-type {
    text-align: right;
    font-size: 15px;
  }
  .ResizeableTextarea {
    border-radius: 20px;

    padding: 10px 20px;

    border: none;
    font-weight: lighter;
  }
  .send-button-wrapper {
    margin-left: 10px;

    .send-button {
      width: 50px;
      cursor: pointer;
    }
  }
}