.ChatContainer {
  height: 100vh;
  padding-top: 4vh;
  padding-bottom: 4vh;

  .chat-flex {
    width: 100%;
    height: 100%;

    -webkit-box-shadow: -3px 4px 9px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: -3px 4px 9px 0px rgba(0,0,0,0.36);
    box-shadow: -3px 4px 9px 0px rgba(0,0,0,0.36);

    background-color: #0b1e58;
    font-family: "Varela Round" , Arial, monospace;
    font-size: 26px;

    @media(max-width: 500px) {
      font-size: 20px;
    }
  }

  .no-chat-windows {
    color: white;
    margin: 10px;

    .logo {
      max-width: 100%;
      height: auto;
    }

    .chat-input {

      resize: none;
      border-radius: 39px 39px 39px 39px;

      -moz-border-radius: 39px 39px 39px 39px;
      -webkit-border-radius: 39px 39px 39px 39px;
      border: 0;
      padding: 10px;
      max-width: 100%;
      width: 350px;
    }
  }
}