@font-face {
  font-family: 'Varela Round';
  src: url('fonts/VarelaRound-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/VarelaRound-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/VarelaRound-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
